<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Enter your credentials</h1>
<form action="{% url 'form' %}" method="POST">
    {% csrf_token %}
    <input type="text" placeholder=Email" name="email">
    <input type="text" placeholder="Password" name="password">
    <input type="text" placeholder="Product Link" name="link">
    <input type="number" placeholder="Your Bid Price" name="bid-price">
    <br>
    <h3>After how many hours and minutes, auction will take place.</h3>
    <input type="text" placeholder="hours" name="hours">
    <input type="text" placeholder="minutes" name="minutes">
    <input type="number" placeholder="Car ID" name="car-id">
    <br> <br>
    <input type="submit">


</form>
</body>
</html>